@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

</style>.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Shared styles .................................... */
.display-flex {
    display: flex;
}




/* Header styles..................................... */
header {
    max-width: 1150px;
    margin: 0 auto;
    flex-direction: column;
    gap: 50px;
}

.big-sale {
    margin-bottom: 100px;
}

.header-content {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}

header nav ul {
    gap: 34px;
}

.nav-link {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.header-details {
    max-width: 580px;
    text-align: left;
}

.header-title {
    font-size: 3.25rem;
    font-weight: 700;
}

.header-para {
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    width: 180px;
    height: 44px;
    padding: 10px 15px;
    background: rgb(224, 44, 109);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.header-btn {
    border-radius: 41px;
}

/* header images style ................................. */
.header-image {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    height: 475px;
    width: 475px;
}

/* E-commerce section styles ........................... */
.e-commerce {
    max-width: 1100px;
    margin: 0 auto;
}


.e-commerce-platform {
    max-height: 100px;
    max-width: 100%;
    padding: 35px 50px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

.e-commerce-logo {
    text-align: center;
}

/* main product content .............................. */

.main-content {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
}

.main-content {
    margin-top: 100px;
}

.main-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-item {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
}

.product-details {
    text-align: left;
}

.product-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.product-cost {
    font-size: 1.5rem;
    font-weight: 400;
}

.about-product {
    font-size: 0.875rem;
    font-weight: 700;
}





/* Media queries..................................... */


@media screen and (max-width: 576px) {

    .nav-item,
    .right-navbar {
        flex-direction: column;
    }

    .header-content {
        flex-direction: column-reverse;
    }

    .header-details {
        text-align: center;
    }

    .e-commerce-platform {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 0px 0px;
        row-gap: 15px;
        justify-content: space-around;
    }

    .main-products {
        grid-template-columns: repeat(1, 1fr);
    }

}