@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

</style>.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Shared styles .................................... */
.display-flex {
    display: flex;
}



/* Header styles..................................... */
header {
    max-width: 1150px;
    margin: 0 auto;
    max-height: 100%;
    flex-direction: column;
    gap: 50px;
}

.header-content {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}

header nav ul {
    gap: 34px;
}

.nav-link {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.header-details {
    max-width: 580px;
    text-align: left;
}

.header-title {
    font-size: 3.25rem;
    font-weight: 700;
}

.header-para {
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    width: 180px;
    height: 44px;
    padding: 10px 15px;
    background: rgb(224, 44, 109);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.header-btn {
    border-radius: 41px;
}

/* header images style ................................. */
.header-image {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    height: 475px;
    width: 475px;
}